.agregarContainer{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buscarContainer{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputsContainer{
    height: 50vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}